@model ClientManagerWeb.ViewModels.Templates.TemplateDetailsViewModel

@{
    ViewBag.Title = "Delete template";
}

<h2 class="delete-header">Delete template</h2>

<h3>Are you sure you want to delete this template?</h3>
<fieldset>
    <legend>Template</legend>

    @Html.Partial("_TemplateDetails")
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
