@{
    ViewBag.Title = "Client Manager";
}

<h2>Welcome to Client Manager!</h2>

<p>Easy-to-use tool for clients e-mails management.</p>

<table>
    <tr>
        <td>
            <img src="../../Content/Images/HomeLogo.png" alt="Logo" style="margin: 30px;" />
        </td>
        <td>
            All what you need is just to specify clients information and create templates of letters which you usually send.<br />
            System will attentively take care about creating letters individually for every your client<br />and notificate you in time about new letters to send!
        </td>
    </tr>
</table>
<p></p>